.clock-settings input {
    width: 45px;
}

.clock-settings i,
.pom-sess i {
    width: 30px;
    font-size: 18px;
}

.fa-check {
    color: green;
    cursor: pointer;
}

.fa-remove {
    color: red;
    cursor: pointer;
}

.fa-refresh {
    cursor: pointer;
}

.fa-plus {
    color: blue;
    cursor: pointer;
}

.pom-sess input {
    width: 45px;
}


.clock-settings .col-xs-1 .fa-remove {
    visibility: hidden;
}

/*.pom-sess {
    margin-top: 15px;
}*/

.pom-sess .col-xs-2 {
    visibility: hidden;
}

.progress {
    cursor: pointer;
}
