<!DOCTYPE html>
<html
  ng-app="clock"
  ng-controller="session-ctrl">
  <head>
    <meta charset="utf-8">
    <title>Pomodoro Clock</title>
    <link
    rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="./css/master.css">
  </head>
  <header class="page-header text-center">
    <div class="row clock-settings">
      <div class="col-sm-3">
        <label for="session-length">
          Session Length:
          <input
          type="number"
          id="session-length"
          value="3">
        </label>
      </div>
      <div class="col-sm-3">
        <label for="break-length">
          Break Length:
          <input
          type="number"
          id="break-length"
          value="1">
        </label>
      </div>
      <div class="col-sm-3">
        <label for="num-f-sessions">
          Number of Sessions:
          <input
          type="number"
          id="num-of-sessions"
          value="3">
        </label>
      </div>
      <div class="col-xs-1">
        <i
        class="sessions-set fa fa-check"
        ng-click="setSessions"></i>
        <i
        class="fa fa-remove"
        ng-click="resetSessions"></i>
      </div>
    </div>
  </header>
  <body>
    <div
    class="container text-center">
      <div class="row default-session pom-sess">
        <div class="col-sm-3">
          <label for="default-session">
            Default Session:
            <input
            type="number"
            id="default-session"
            disabled="true"
            value="3">
          </label>
        </div>
        <div class="col-sm-3">
          <label for="default-break">
            Default Break:
            <input
            type="number"
            id="default-break"
            disabled="true"
            value="1">
          </label>
        </div>
        <div class="col-sm-3">
          <div class="progress text-center">
            <div
            class="progress-bar"
            role="progressbar"
            style="width: 25%"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"></div>
            <span id="mins">00</span>:
            <span id="secs">00</span>
            <span id="message">Click to Start</span>
          </div>
        </div>
        <div class="col-xs-2">
          <i class="session-set fa fa-refresh"></i>
          <i class="fa fa-remove"></i>
          <i class="fa fa-plus"></i>
        </div>
      </div>
      <div
      class="row pom-sess"
      ng-repeat="session in sessions"
      ng-mouseover="displayButtons($event)"
      ng-mouseleave="hideButtons($event)">
        <div class="col-sm-3">
          <label for="session">
            {{session.sessionLabel}}:
            <input
            type="number"
            id="{{session.sessionId}}"
            disabled="true"
            ng-value="{{session.sessionLength}}">
          </label>
        </div>
        <div class="col-sm-3">
          <label for="break">
            {{session.breakLable}}:
            <input
            type="number"
            id="{{session.breakId}}"
            disabled="true"
            ng-value="{{session.breakLength}}">
          </label>
        </div>
        <div class="col-sm-3">
          <div
          class="progress text-center"
          ng-mouseover="displayMessage($event)"
          ng-mouseleave="hideMessage($event)">
            <div
            class="progress-bar"
            role="progressbar"
            style="width: 25%"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"></div>
            <span id="mins">{{session.sessionLength}}</span>:
            <span id="secs">00</span>
            <span id="message">Not started</span>
          </div>
        </div>
        <div class="col-xs-2">
          <i class="session-set fa fa-refresh"></i>
          <i class="fa fa-remove"></i>
          <i class="fa fa-plus"></i>
        </div>
      </div>
    </div>
  </body>
  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script
  id="bootstrapjs" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  crossorigin="anonymous"></script>
  <script
  type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://use.fontawesome.com/60b538da21.js"></script>
  <script type="text/javascript" src="./js/style.js"></script>
  <script type="text/javascript" src="./js/clock.js"></script>
  <script type="text/javascript" src="./js/sessions.js"></script>
</html>
